<ion-header>
      <ion-toolbar>
        <ion-title><b>Seleziona Task</b></ion-title>
        <ion-buttons slot="end">
          <ion-button class="close-btn" (click)="close()">✕</ion-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>


<ion-content>
    <div class="modal-center">
        <div class="task-details-card">
            <ion-item lines="none">
                <ion-label position="stacked">Task</ion-label>
                <ion-select [(ngModel)]="selectedTask" placeholder="Seleziona Task" interface="popover">
                    <ion-select-option *ngFor="let t of tasks" [value]="t">
                        {{ t.title }}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-button class="start" expand="block" [disabled]="!selectedTask" (click)="confirm()">
                Avvia Focus
            </ion-button>
        </div>
    </div>
</ion-content>