<ion-header>
  <ion-toolbar>
    <ion-title>Focus Mode</ion-title>
    <ion-buttons slot="end">
      <!-- Modifica il click per usare closeFocus() -->
      <ion-button class="close-btn" (click)="closeFocus()">✕</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="focus-page ion-padding">
  
  <div class="focus-wrapper">
    <div class="time-container">
      <img src="assets/icon/timer.jpeg" class="focus-image"/>
      <h1 class="timer">
        {{ timerMinutes | number:'2.0' }}:{{ timerSeconds | number:'2.0' }}
      </h1>

      <div class="buttons">
        <ion-button class="start" (click)="openTaskModal()" [disabled]="isRunning">
          Start
        </ion-button>
        <ion-button class="pause" (click)="pauseTimer()" [disabled]="!isRunning">
          Pause
        </ion-button>
        <ion-button class="reset" (click)="resetTimer()">
          Reset
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
